body {
    background: black;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.video-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-container {
    flex: 1;
    overflow: hidden;
    height: 50%;
    transition: 1.15s opacity linear;
    background-size: cover;
}

.video {
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
}

@keyframes moveNW {
    from {
        transform: scale(1.15) translateX(-5%) translateY(-5%);
    }
    to {
        transform: scale(1.15) translateX(5%) translateY(5%);
    }
}

@keyframes moveSW {
    from {
        transform: scale(1.15) translateX(-5%) translateY(5%);
    }
    to {
        transform: scale(1.15) translateX(5%) translateY(-5%);
    }
}

@keyframes moveNE {
    from {
        transform: scale(1.15) translateX(5%) translateY(-5%);
    }
    to {
        transform: scale(1.15) translateX(-5%) translateY(5%);
    }
}

@keyframes moveSE {
    from {
        transform: scale(1.15) translateX(5%) translateY(5%);
    }
    to {
        transform: scale(1.15) translateX(-5%) translateY(-5%);
    }
}
